body {
    margin: 0;
}

img {
    width: 100%;
}
.demo-area {
    margin: 0 auto;
    max-width: 60rem;
}

.demo-area h2 {
    background: pink;
    line-height: 2;
}

.horizontal-img {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* Magical math to center image. */
@media screen and (min-width: 60rem) {
    .horizontal-img {
        margin-left: calc(-1 * (100vw - 60rem) / 2);
    }
}

.horizontal-img img {

    height: 95%;
    object-fit: cover; 
}