img {
    display: block;
    width: 100%;
    height: 100%;
}

.demo-area {
    margin: 0 auto;
    max-inline-size: 70ch;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.widescreen {
    margin-block-end: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    background-color: hsl(0, 0%, 75%);   
    aspect-ratio: 16/9;
}

.square {
    max-inline-size: 50ch;
    object-fit: cover;
    aspect-ratio: 1/1;
}