:root {
    --line-width: .75rem;
    --base-color: 42;
    --color-dark: 
        hsl(var(--base-color), 85%, 50% );
    --color-medium: 
        hsl(var(--base-color), 65%, 70% );
    --color-light: 
        hsl(var(--base-color), 85%, 90% );
    --key-color: purple;
}

.demo-area {
    margin: 0 auto;
    width: 60ch;
}

.demo-area ul {
    display: flex;
    gap: .5rem;
}

.demo-area li {
    display: block;
    width: calc(100% * 1/3);
    height: 20rem;
    background: blue;
}

.demo-area li:first-of-type {
    background-color: var(--color-dark);
}

.demo-area li:nth-child(2) {
    background-color: var(--color-medium);
}

.demo-area li:last-of-type {
    background-color: var(--color-light);
}