.demo-area {
    display: flex;
    justify-content: center;
}

.default {
    box-sizing: border-box;
    margin-block-end: 1rem;
    padding: 0 1rem;
    border: 1px solid hsl(0, 0%, 50%);
    width: min(70ch, calc(100vw - 1rem));
    font-size: clamp(1rem, 3vw, 1.6rem);
}

