.demo-area {
    display: grid;
    margin: 0 auto;
    inline-size: 65vw;
    block-size: 65vh;
    background: hsl(0, 0%, 65%);
    /* justify-content: center;
    align-items: center; */
}

.center {
    border: 5px solid black;
    padding: 1rem;
    align-self: center;
    justify-self: center;
}