* {
    /* box-sizing: border-box; */
}

.demo-area {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-area p {
    width: 50ch;
    background: hsl(0, 0%, 75%);
}

.resize {
    padding: 1rem;
    border: 1rem solid green
}