.demo-area {
    margin: 0 auto;
    max-width: 70ch;
}

.square {
    width: 50%;
    margin-inline-end: 1rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    float: right;
}

.demo-area h2 {
    clear: both;
}