.demo-area {
    margin: 0 auto;
    inline-size: 50ch;
}

blockquote {
    inline-size: 50ch;
    border-inline-start: 1rem solid black;
    padding-inline-start: 1rem;
    writing-mode:vertical-lr;
}
